<div class='row'>
    <div class='small-12 columns'>
        <h1>Listing stories</h1>
    </div>
</div>
<div class='row'>
    <div class="small-12 columns">
        <ul class='small-block-grid-2'>
            <% @stories.each do |story| %>
                <li>
                    <div class="panel">
                        <h3>
                            <%= story.title %>
                        </h3>
                        <p> 
                            <%= story.content %>
                        </p>
                        <hr />
                        <%= link_to 'Show', story %> | 
                        <%= link_to 'Edit', edit_story_path(story) %> |        
                        <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>                    
                    </div>
                </li>
            <% end %>

        </ul>
    </div>
</div>
<hr />
<div class='row'>
    <div class='small-12 columns'>
        <%= link_to 'New Story', new_story_path, class: 'button' %>
    </div>
</div>
